body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fefefe;
    color: #4a4a4a;

    /* Add background image */
    background-image: url('C:\Users\a.aryal.SCI\Desktop\UOP\New_Cafe\images'); 
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
}
